:root{
    --menu-color: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
    :root {
    --menu-color: rgba(31, 31, 31, 0.9);
    }
}

a {
    text-decoration: none;
}

.h1 {
    margin: 55px 10px 20px 30px;
}


h2 {
    margin: 30px 0px 10px 0px;
    font-size: 20px;
}

form {
    background-color: var(--search-color);
    height: 40px;
    border-radius: 15px;
    margin: 15px 20px 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: rgb(122, 122, 122);
    fill: currentColor;
    width: 20px;
    height: 20px;
    padding: 10px;
  }

input {
  all: unset;
  font: 16px;
  color: var(--color);
  height: 100%;
  width: 100%;
  padding: 6px 15px;
}

::placeholder {
    color: var(--color);
    opacity: 0.7;
    font-family: 'Lato', sans-serif;
}

.book {
    margin: 0px 20px 15px 20px;
    padding: 15px 10px 15px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bookmarksList {
    padding-inline-start: 0;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.book__title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

.song__title {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
}

.song__number {
    color: #ffffff;
    font-size: 22px;
    font-weight: 900;
    margin-right: 5px;
}

.booktext--right {
    color: white;
    display: flex;
    align-items: center;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-bottom: env(safe-area-inset-bottom);
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #636363;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 10px;
}

.nav__link--active {
    color: #000000;
}

.nav__icon {
    font-size: 23px;
    margin-bottom: 3px;
}

.nav__text {
    padding-top: 3px;
    font-family: 'Lato', sans-serif;
}


.title ion-icon {
    font-size: 25px;
    color: var(--back-color);
}

.menu {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: var(--menu-color);
    box-shadow: var(--box-shadow);
    position: fixed;
    width: 100%;
    top: 0;
}

.title {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: env(safe-area-inset-top) 30px 0px 30px;
}

.ionicon {
    filter: var(--svg-back-filter);
    width: 25px;
}
