.book {
    margin: 15px 20px;
    padding: 15px 20px;
    border-radius: 15px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book_title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700; 
    position: relative;
    bottom: 0;
}

.book_title_small {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700; 
    position: relative;
    bottom: 0;
}

.book_subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700; 
    position: relative;
    bottom: 0;
}