@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    padding-top: env(safe-area-inset-top);
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
}

a, img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

:root{
    --background: #ebebeb;
    --back-color: #818181;
    --toolbar: #ffffff;
    --color: black;
    --svg-color: invert(0%) sepia(99%) saturate(0%) hue-rotate(304deg) brightness(101%) contrast(104%);
    --subtext-color: rgb(100, 100, 100);
    --search-color: #dfdede;
    --toolbar-text: #636363;
    --toolbar-text-active: black;
    --div-color: #ffffff;
    --border-color: rgb(218, 218, 218) solid 1px;
    --box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    --invert: invert(0%);
    --svg-back-filter: invert(51%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(99%) contrast(90%);
    --change-svg-filter: invert(0%) sepia(9%) saturate(4%) hue-rotate(326deg) brightness(105%) contrast(86%);
}

h1, h2, h3, h4, h5 {
    color: var(--color);
}

.pagetitle {
    margin: 55px 10px 20px 30px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #141414;
        --back-color: #cfcfcf;
        --color: white;
        --svg-color: invert(100%) sepia(9%) saturate(7497%) hue-rotate(180deg) brightness(103%) contrast(93%);
        --subtext-color: white;
        --toolbar: rgb(31, 31, 31);
        --search-color: #2b2b2b; 
        --toolbar-text: #cacaca;
        --toolbar-text-active: #ffffff;
        --div-color: #2b2b2b;
        --border-color: rgb(36, 36, 36) solid 2px;
        --box-shadow: 0 0 20px rgba(0, 0, 0, 0.0);
        --invert: invert(92%);
        --change-svg-filter: invert(100%) sepia(0%) saturate(1487%) hue-rotate(92deg) brightness(124%) contrast(108%);
        --svg-back-filter: invert(73%) sepia(1%) saturate(606%) hue-rotate(104deg) brightness(115%) contrast(91%);
    }
}

object{
    pointer-events: none;
}

#appsection {
    text-align: center;
    padding-bottom: 200px;
}

.app {
    width: fit-content;
}

.appbuttonplay {
    max-width: 350px;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.appbuttonapple {
    max-width: 310px;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 55px;
    box-shadow: var(--box-shadow);
    background-color: var(--toolbar);
    padding-top: 5px;
    padding-bottom: calc(env(safe-area-inset-bottom) + 5px);
    display: flex;
}

.nav > * {
    flex: 1;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: var(--toolbar-text);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 10px;
}

.nav__link--active {
    color: var(--toolbar-text-active);
}

.nav__text {
    padding-top: 3px;
    font-family: 'Lato', sans-serif;
}

.nav__icon {
    font-size: 23px;
    margin-bottom: 3px;
    width: 23px;
}

.nav__icon--active {
    font-size: 23px;
    margin-bottom: 3px;
    width: 23px;
    filter: var(--svg-color);
}

.ionicon {
    filter: var(--svg-back-filter);
    width: 25px;
}

.entrypoint {
    filter: var(--svg-color);
    width: 16px;
}

#songview  {
    height: 100vh;
}

.panzoom_container {  
    display: block;
    height: max-content;
    width: 100%;
    z-index: -1;
    position: absolute;
    margin: calc(env(safe-area-inset-top) + 61.16px) auto;
    top: 0;
    left: 0;
}

.song_img {
    display: block;
    width: 100%;
    z-index: -1;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.fill {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

:root {
    --button-spacing: 15px;
}

.buttonGroupLeft > * {
    padding-right: var(--button-spacing)
}
.buttonGroupRight > * {
    padding-left: var(--button-spacing)
}

.menu {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: var(--menu-color);
    box-shadow: var(--box-shadow);
    position: fixed;
    width: 100%;
    top: 0;
}

.title {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: env(safe-area-inset-top) 30px 0px 30px;
}

.space {
    width: 25px;
}

ion-icon {
    font-size: 25px;
    color: var(--back-color);
}

.welcomepage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startbutton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startbuttoncontainer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10%;
    height: 50px;
    width: 80%;
    background-color: #2196F3;
    border-radius: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item {
    padding: 30px;
    font-size: 15px;
    text-align: center;
    border-color: #141414;
}
.changeslistings {
    text-align: center;
}

.changetext {
    display: block;
    white-space: normal; 
    color: var(--color);
}

.grid-image {
    width: 80px;
    filter: var(--change-svg-filter);
}
