:root{
    --topical-color: #ffffff;
    --menu-color: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
    :root {
    --topical-color: #2b2b2b;
    --menu-color: rgba(31, 31, 31, 0.9);
    }
}

h2 {
    margin: 10px 20px 20px 30px;
    font-size: 20px;
}


form {
    background-color: var(--search-color);
    height: 40px;
    border-radius: 15px;
    margin: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}
  
svg {
    color: rgb(122, 122, 122);
    fill: currentColor;
    width: 20px;
    height: 20px;
    padding: 10px;
}

input {
    all: unset;
    font: 16px;
    color: var(--color);
    height: 100%;
    width: 100%;
    padding: 6px 15px;
}

::placeholder {
    color: var(--color);
    opacity: 0.7;
    font-family: 'Lato', sans-serif;
}

.songlist {
    padding-inline-start: 0;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}