:root{
    --topical-color: #ffffff;
    --menu-color: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
    :root {
    --topical-color: #2b2b2b;
    --menu-color: rgba(31, 31, 31, 0.9);
    }
}

h2 {
    margin: 30px 0px 10px 0px;
    font-size: 20px;
}

.pagetitle {
    margin: 55px 10px 20px 30px;
}

.topicalindexheading {
    margin: 30px 20px 0px 30px;
    font-size: 20px;
}

form {
    background-color: var(--search-color);
    height: 40px;
    border-radius: 15px;
    margin: 15px 20px 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}
  
svg {
    color: rgb(122, 122, 122);
    fill: currentColor;
    width: 20px;
    height: 20px;
    padding: 10px;
}

input {
    all: unset;
    font: 16px;
    color: var(--color);
    height: 100%;
    width: 100%;
    padding: 6px 15px;
}

::placeholder {
    color: var(--color);
    opacity: 0.7;
    font-family: 'Lato', sans-serif;
}

.topicalindex {
    display: flex;
    align-items: center;
    padding: 20px;
    overflow: auto;
  
}

.topicalindexbutton {
    height: 70px;
    min-width: 70px;
    padding: 10px;
    text-align: center;
    color: var(--color);
    border-radius: 15px;
    margin-right: 15px;
    background-color: var(--topical-color);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-flow: column;
    justify-content: center;
    line-height: 1.7;
}

.book__title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

.song__title {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
}

.song__number {
    color: #ffffff;
    font-size: 22px;
    font-weight: 900;
    margin-right: 5px;
}

.booktext--right {
    color: white;
    display: flex;
    align-items: center;
}

#charactersList {
    padding-inline-start: 0;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.title ion-icon {
    font-size: 25px;
    color: var(--back-color);
}

.menu {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: var(--menu-color);
    box-shadow: var(--box-shadow);
    position: fixed;
    width: 100%;
    top: 0;
}

.book {
    margin: 0px 20px 15px 20px;
    padding: 15px 10px 15px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: env(safe-area-inset-top) 30px 0px 30px;
}