@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root{
    --menu-color: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
    :root {
        --menu-color: rgba(31, 31, 31, 0.9);
    }
}

ion-icon {
    font-size: 25px;
    color: var(--back-color);
}

.songs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 10px 110px 10px;
}

.song-btn {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}