@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


:root {
    --button-color: #ffffff;
    --search-color: #dfdede;
    --slider-base: #CCCCCC;
}

@media (prefers-color-scheme: dark) {
    :root {
        --button-color: #2b2b2b;
        --search-color: #2b2b2b;
        --slider-base: #292323;
    }
}

h2 {
    margin: 20px 20px 0px 30px;
    font-size: 20px;
}

form {
    background-color: var(--search-color);
    border-radius: 15px;
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

button {
    all: unset;
    cursor: pointer;
    height: 44px;
}

svg {
    color: rgb(122, 122, 122);
    fill: currentColor;
    width: 20px;
    height: 20px;
    padding: 10px;
}

input {
    all: unset;
    font: 16px;
    color: var(--color);
    height: 100%;
    width: 100%;
    padding: 6px 15px;
}

.import-input {
    padding: 3px 15px;
}

::placeholder {
    color: var(--color);
    opacity: 0.7;
    font-family: 'Lato', sans-serif;
}

.settings {
    background: var(--div-color);
    margin: 15px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
}

.settings-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: var(--color);
    border-bottom: var(--border-color);
}

.settings-option:last-child {
    border-bottom: none;
}

.input-option {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: var(--color);
    border-bottom: var(--border-color);
}

.input-option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #2196F3;
    border-bottom: var(--border-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.input-option-button:active {
    background-color: #1b80d2;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-base);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 100px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider-setting {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: var(--slider-base);
    border-radius: 100px;
    outline: none;
    padding: 0px 5px 0px 5px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-setting::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-setting::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-value {
    margin-left: 10px;
    white-space: nowrap;
    min-width: 51.02px;
}

.setting-label {
    margin-right: 10px;
}

.import-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
