@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html, body {
    height: 100vh;
    width: 100vw;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0 0 120px 0;
    padding-top: env(safe-area-inset-top);
    font-family: 'Lato', sans-serif;
    background-color: #fcfcfc;
    text-decoration: none;
}

a {
    text-decoration: none;
}

h2 {
    margin: 30px 0px 10px 30px;
    font-size: 15px;
    font-weight: 400;
}

.title ion-icon {
    font-size: 25px;
    color: var(--back-color);
}

.title {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px 10px 30px;
}

.settings-holder {
    padding-bottom: 89px;
}

.settings {
    background: var(--div-color);
    margin: 15px 20px 15px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
}

.settings-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: var(--color);
    border-bottom: var(--border-color);
}

.changelog {
    align-items: center;
    padding: 0px 20px;
    color: #000;
    border-bottom: var(--border-color);
}

.changelog:last-child {
    border-bottom: none;
}

.attribution {
    align-items: center;
    padding: 0px 20px;
    color: #000;
    border-bottom: var(--border-color);
}

.attribution:last-child {
    border-bottom: none;
}

.change {
    color: var(--subtext-color);
}

.release, .releaseDate {
    display: inline-block;
    padding: 0px, 5px;
}

.releaseDate {
    float: right;
}

.settings-option:last-child {
    border-bottom: none;
}

.space {
    width: 25px;
}

.songs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 10px 0px 10px;
}

.song-btn {
    background: rgb(0,0,0);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.book-zionsharp {
    background: rgb(0,0,0);
    background: linear-gradient(-47deg, rgba(0,0,0,1) 0%, rgb(73, 73, 73) 100%);
    margin: 15px 20px 15px 20px;
    border-radius: 15px;
    height: 120px;
    position: relative;
}

.book-gospelhymns {
    background: rgb(172,32,36);
    background: linear-gradient(47deg, rgba(172,32,36,1) 0%, rgba(90,18,17,1) 100%);
    margin: 15px 20px 15px 20px;
    border-radius: 15px;
    height: 120px;
    position: relative;
}

.book-higherground {
    background: rgb(251,188,19);
    background: linear-gradient(47deg, rgba(251,188,19,1) 0%, rgba(189,119,42,1) 100%);
    margin: 15px 20px 15px 20px;
    border-radius: 15px;
    height: 120px;
    position: relative;
}

.book-juniorhymnal {
    background: rgb(21,82,152);
    background: linear-gradient(47deg, rgba(21,82,152,1) 0%, rgba(23,38,78,1) 100%);
    margin: 15px 20px 15px 20px;
    border-radius: 15px;
    height: 120px;
    position: relative;
}

.book__title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700; 
    position: absolute;
    margin: 0 0 20px 20px;
    bottom: 0;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-bottom: env(safe-area-inset-bottom);
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #636363;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 10px;
}

.nav__link--active {
    color: #000000;
}

.nav__icon {
    font-size: 23px;
    margin-bottom: 3px;
}

.nav__text {
    padding-top: 3px;
    font-family: 'Lato', sans-serif;
}
