@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

h2 {
    margin: 30px 0px 10px 30px;
    font-size: 15px;
    font-weight: 400;
}

.settings-holder {
    padding-bottom: 89px;
}

.changelog {
    align-items: center;
    padding: 0px 20px;
    color: #000;
    border-bottom: var(--border-color);
}

.changelog:last-child {
    border-bottom: none;
}

.attribution {
    align-items: center;
    padding: 0px 20px;
    color: #000;
    border-bottom: var(--border-color);
}

.attribution:last-child {
    border-bottom: none;
}

.change {
    color: var(--subtext-color);
}

.release, .releaseDate {
    display: inline-block;
    padding: 0px, 5px;
    margin-bottom: 0px;
}

.releaseDate {
    float: right;
}