body {
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    
    padding-top: env(safe-area-inset-top);
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
}

a, img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    text-decoration: none;
}

:root, :root[data-theme="light"] {
    --button-spacing: 15px;
    --background: #ebebeb;
    --back-color: #818181;
    --toolbar: #ffffff;
    --color: black;
    --svg-color: invert(0%) sepia(93%) saturate(28%) hue-rotate(112deg) brightness(106%) contrast(106%);
    --subtext-color: rgb(100, 100, 100);
    --search-color: #dfdede;
    --toolbar-text: #636363;
    --toolbar-text-active: black;
    --div-color: #ffffff;
    --border-color: rgb(218, 218, 218) solid 1px;
    --box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    --thin-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    --invert: invert(0%);
    --svg-back-filter: invert(51%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(99%) contrast(90%);
    --change-svg-filter: invert(0%) sepia(9%) saturate(4%) hue-rotate(326deg) brightness(105%) contrast(86%);
    --button-color: #ffffff;
    --button-active-color: #ebebeb;
    --search-color: #dfdede;
    --slider-base: #CCCCCC;
    --topical-color: #ffffff;
    --menu-color: rgba(255, 255, 255, 0.9);
    --overlay-color: rgba(255, 255, 255, 0.5);
    --song-background: #ffffff;
    --svg-polar: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
    --media-type-active: #ffffff;
    --media-type: var(--slider-base);
    --button-tap: #CCCCCC;
    --blue: #2196f3;
    --blue-disabled: #7ebdf1;
}

:root[data-theme="dark"] {
    --menu-color: rgba(31, 31, 31, 0.9);
    --background: #141414;
    --back-color: #cfcfcf;
    --color: white;
    --svg-color: invert(100%) sepia(9%) saturate(7497%) hue-rotate(180deg) brightness(103%) contrast(93%);
    --subtext-color: white;
    --toolbar: rgb(31, 31, 31);
    --toolbar-text: #cacaca;
    --toolbar-text-active: #ffffff;
    --div-color: #2b2b2b;
    --border-color: rgb(36, 36, 36) solid 2px;
    --box-shadow: 0 0 20px rgba(0, 0, 0, 0.0);
    --invert: invert(92%);
    --change-svg-filter: invert(100%) sepia(0%) saturate(1487%) hue-rotate(92deg) brightness(124%) contrast(108%);
    --svg-back-filter: invert(73%) sepia(1%) saturate(606%) hue-rotate(104deg) brightness(115%) contrast(91%);
    --button-color: #2b2b2b;
    --button-active-color: #3d3d3d;
    --search-color: #2b2b2b;
    --slider-base: #232323;
    --topical-color: #2b2b2b;
    --menu-color: rgba(31, 31, 31, 0.9);
    --overlay-color: rgba(0, 0, 0, 0.5);
    --song-background: #141414;
    --svg-polar: invert(100%) sepia(0%) saturate(0%) hue-rotate(267deg) brightness(105%) contrast(108%);
    --media-type-active: #5c5c5c;
    --media-type: var(--menu-color);
    --button-tap: #575757;
    --blue: #2196f3;
    --blue-disabled: #7ebdf1;
}

h1, h2, h3, h4, h5 {
    color: var(--color);
    white-space: nowrap;
}

.pagetitle {
    margin: 55px 10px 20px 30px;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 55px;
    box-shadow: var(--box-shadow);
    background-color: var(--toolbar);
    padding-top: 5px;
    padding-bottom: calc(env(safe-area-inset-bottom) + 5px);
    display: flex;
    z-index: 1;
}

.nav > * {
    flex: 1;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: var(--toolbar-text);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 10px;
}

.nav__link--active {
    color: var(--toolbar-text-active);
}

.nav__text {
    padding-top: 3px;
    font-family: 'Lato', sans-serif;
}

.nav__icon {
    font-size: 23px;
    margin-bottom: 3px;
    width: 23px;
}

.ionicon {
    filter: var(--svg-back-filter);
    width: 25px;
    height: 25px;
}

.nav__icon--active {
    font-size: 25px;
    margin-bottom: 3px;
    width: 25px;
    filter: var(--svg-color);
}

.entrypoint {
    filter: var(--svg-color);
    width: 16px;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
    overflow: hidden;
}

.fill {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.menu {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: var(--menu-color);
    box-shadow: var(--box-shadow);
    padding-top: env(safe-area-inset-top);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    transition: transform 0.3s;
}

.main-content {
    margin-top: 90px !important;
    margin-bottom: calc(env(safe-area-inset-bottom) + 90px) !important;
}

.space {
    width: 25px;
    height: 25px;
}

.title {
    font-size: 12px;
    display: flex;
    height: 61.16px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
}

.title--left {
    text-align: left;
    cursor: pointer;
}

.title--left > * {
    padding-right: var(--button-spacing)
}

.title--center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.title--right {
    text-align: right;
    cursor: pointer;
}

.title--right > * {
    margin-left:25px;
}

ion-icon {
    font-size: 25px;
    color: var(--back-color);
}