name: Build and Deploy Production Branch
on:
  push:
    branches:
      main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      
      - name: Build
        run: |
          echo "VITE_BASE_URL=/" > .env
          npm i
          npm run deploy-check
          npm run build
          npx cap copy web # This runs our helper script to compress the song book info
          cp dist/index.html dist/404.html # This is to avoid 404 errors on reload (Ugly fix but okay I guess)
          touch dist/.nojekyll
      
      - name: Upload Github Pages Artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: dist

  # Taken from https://github.com/actions/deploy-pages/blob/master/README.md
  deploy:
    # Add a dependency to the build job
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
